// Colors
$darkblue_: #070735;
$white_: #ffffff;
$fadeout: rgba(7, 7, 53, 0.55);
$gray_: rgba(0, 0, 0, 0.5);
$lightblue: #00c2ff;
$opacity: rgba(0, 0, 0, 0.25);
$error: #ff0000;
$yellow_: #ffee00;

// Fonts

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

// Font variables
$main-font: "SF-Pro-Display";
$header-font: "Montserrat";

header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-fixed {
    padding-top: 113px;
}

input {
    font-family: $main-font;
    font-style: normal;
}

h1 {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: $darkblue_;
    white-space: nowrap;
    @media (max-width: 1600px) {
        font-size: 60px;
    }
    @media (max-width: 1440px) {
        font-size: 48px;
    }
    @media (max-width: 1024px) {
        font-size: 32px;
        line-height: 40px;
    }
    @media (max-width: 425px) {
        font-size: 18px;
        line-height: 22px;
    }
}

h2 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    white-space: nowrap;
    @media (max-width: 1600px) {
        font-size: 48px;
    }
    @media (max-width: 1440px) {
        font-size: 36px;
    }
    @media (max-width: 425px) {
        font-size: 24px;
        line-height: 36px;
    }
}

p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    @media (max-width: 1600px) {
        font-size: 24px;
    }
    @media (max-width: 1440px) {
        font-size: 18px;
    }
    @media (max-width: 1024px) {
        line-height: 26px;
    }
    @media (max-width: 425px) {
        font-size: 10px;
        line-height: 14px;
    }
    @media (max-width: 380px) {
        font-size: 8px;
        line-height: 12px;
    }
    @media (max-width: 340px) {
        font-size: 8px;
        line-height: 10px;
    }
}

.transform-arrow {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

.mobile-toggle {
    display: none !important;
}

.message-toggle {
    display: none !important;
}

.accordion-toggle {
    display: none !important;
}

.dropdown-toggle {
    display: none !important;
}

section {
    position: relative;
}

body {
    background-color: $white_;
}

main {
    font-family: $main-font;
}

header {
    width: 100%;
}

.header-wrapper {
    height: 113px;
    padding: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: $header-font;
    font-weight: 600;
    font-size: 22px;
    color: $white_;
    background-color: $darkblue_;
    @media (max-width: 1440px) {
        font-size: 16px;
    }
    @media (max-width: 1024px) {
        font-size: 12px;
        padding: 0 15px;
    }
}

.logotype {
    & > img {
        @media (max-width: 420px) {
            width: 128px;
            height: 56px;
        }
    }
}

.nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.nav-wrapper-mobile {
    display: none;
    background-color: $darkblue_;
    height: 100%;
    border-radius: 0 0 20px 20px;
    @media (max-width: 1024px) {
        display: block;
    }
}

.header-nav {
    height: 90%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__link {
        margin-left: 0;
    }
    @media (max-width: 1024px) {
        display: none;
    }
}

.header-nav {
    &__link {
        margin-left: 20px;
        cursor: pointer;
        &:hover {
            color: $yellow_;
        }
    }
    &__display {
        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.account-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__button {
        position: relative;
        margin-left: 80px;
        cursor: pointer;
        user-select: none;
        @media (max-width: 425px) {
            margin-left: 10px;
        }
        @media (max-width: 335px) {
            margin-left: 40px;
        }
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -17px;
            top: -6px;
            width: 4px;
            height: 34px;
            background: $yellow_;
            @media (max-width: 1440px) {
                top: -8px;
            }
            @media (max-width: 425px) {
                top: -5px;
                left: -10px;
                width: 3px;
                height: 20px;
            }
            @media (max-width: 335px) {
                top: -5px;
                height: 33px;
            }
        }
        &:hover {
            color: $yellow_;
        }
    }
    &__menu {
        margin-left: 20px;
        cursor: pointer;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
            display: flex;
        }
    }
    &__dropdown-text {
        user-select: none;
        display: none;
        margin-top: 5px;
        @media (max-width: 1024px) {
            display: block;
        }
    }
}