@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-fixed {
  padding-top: 113px;
}

input {
  font-family: "SF-Pro-Display";
  font-style: normal;
}

h1 {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: #070735;
  white-space: nowrap;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 18px;
    line-height: 22px;
  }
}

h2 {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  white-space: nowrap;
}

@media (max-width: 1600px) {
  h2 {
    font-size: 48px;
  }
}

@media (max-width: 1440px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

p {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}

@media (max-width: 1600px) {
  p {
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  p {
    line-height: 26px;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 380px) {
  p {
    font-size: 8px;
    line-height: 12px;
  }
}

@media (max-width: 340px) {
  p {
    font-size: 8px;
    line-height: 10px;
  }
}

.transform-arrow {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mobile-toggle {
  display: none !important;
}

.message-toggle {
  display: none !important;
}

.accordion-toggle {
  display: none !important;
}

.dropdown-toggle {
  display: none !important;
}

section {
  position: relative;
}

body {
  background-color: #ffffff;
}

main {
  font-family: "SF-Pro-Display";
}

header {
  width: 100%;
}

.header-wrapper {
  height: 113px;
  padding: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
  background-color: #070735;
}

@media (max-width: 1440px) {
  .header-wrapper {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    font-size: 12px;
    padding: 0 15px;
  }
}

@media (max-width: 420px) {
  .logotype > img {
    width: 128px;
    height: 56px;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-wrapper-mobile {
  display: none;
  background-color: #070735;
  height: 100%;
  border-radius: 0 0 20px 20px;
}

@media (max-width: 1024px) {
  .nav-wrapper-mobile {
    display: block;
  }
}

.header-nav {
  height: 90%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-nav__link {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

.header-nav__link {
  margin-left: 20px;
  cursor: pointer;
}

.header-nav__link:hover {
  color: #ffee00;
}

@media (max-width: 1024px) {
  .header-nav__display {
    display: none;
  }
}

.account-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-section__button {
  position: relative;
  margin-left: 80px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 425px) {
  .account-section__button {
    margin-left: 10px;
  }
}

@media (max-width: 335px) {
  .account-section__button {
    margin-left: 40px;
  }
}

.account-section__button:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -17px;
  top: -6px;
  width: 4px;
  height: 34px;
  background: #ffee00;
}

@media (max-width: 1440px) {
  .account-section__button:before {
    top: -8px;
  }
}

@media (max-width: 425px) {
  .account-section__button:before {
    top: -5px;
    left: -10px;
    width: 3px;
    height: 20px;
  }
}

@media (max-width: 335px) {
  .account-section__button:before {
    top: -5px;
    height: 33px;
  }
}

.account-section__button:hover {
  color: #ffee00;
}

.account-section__menu {
  margin-left: 20px;
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .account-section__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.account-section__dropdown-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  margin-top: 5px;
}

@media (max-width: 1024px) {
  .account-section__dropdown-text {
    display: block;
  }
}

body {
  font-family: "SF-Pro-Display";
}

.header-wrapper {
  position: relative;
}

.settings-showup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 7, 53, 0.55);
}

.settings-showup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  height: 100vh;
  width: 636px;
  padding: 30px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}

.settings-showup__wrapper::-webkit-scrollbar {
  width: 4px;
}

.settings-showup__wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.settings-showup__wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

.settings-showup__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings-showup__header-title {
  color: #070735;
  font-size: 20px;
}

.settings-showup__close-button {
  cursor: pointer;
}

.settings-showup__close-button > img {
  width: 13px;
  height: 12px;
}

.settings-showup__separator {
  margin: 38px 0;
  width: 70%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.settings-showup__separator_long {
  margin-top: 26px;
  margin-bottom: 64px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.settings-showup__inner {
  padding: 0 50px;
}

.settings-showup__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings-showup__avatar-img > img {
  border-radius: 50%;
  max-width: 169px;
  max-height: 169px;
}

.settings-showup__avatar-title {
  margin-top: 10px;
  font-size: 22px;
}

.settings-showup__avatar-id {
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: 14px;
  opacity: 0.5;
}

.settings-showup__account-settings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings-showup__title {
  font-weight: 500;
  font-size: 20px;
}

.settings-showup__settings-description {
  margin-top: 12px;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.5;
}

.settings-showup__change-button {
  width: 50%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffee00;
  border-radius: 10px;
}

.contact-showup {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 7, 53, 0.55);
}

.contact-showup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.contact-showup__block {
  position: relative;
  background-color: #ffffff;
  z-index: 999;
  width: 45%;
  height: 50%;
  border-radius: 10px;
}

@media (max-width: 1920px) {
  .contact-showup__block {
    width: 65%;
    height: 75%;
  }
}

@media (max-width: 1366px) {
  .contact-showup__block {
    height: 85%;
  }
}

@media (max-width: 768px) {
  .contact-showup__block {
    height: 70%;
  }
}

.contact-showup__close {
  position: absolute;
  top: 7%;
  right: 5%;
}

@media (max-width: 425px) {
  .contact-showup__close > img {
    width: 12px;
    height: 11px;
  }
}

.contact-section {
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social-wrapper {
  width: 78%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__social-wrapper_margin {
  margin-bottom: 100px;
}

@media (max-width: 1600px) {
  .contact__social-wrapper_margin {
    margin-bottom: 50px;
  }
}

@media (max-width: 1600px) {
  .contact__social-wrapper {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .contact__social-wrapper {
    width: 100%;
  }
}

.contact__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact__social-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__social-img > img {
  max-width: 100%;
}

.contact__social-name {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 1366px) {
  .contact__social-name {
    font-size: 16px;
  }
}

.contact__social-link {
  font-weight: 500;
  font-size: 18px;
  color: #00c2ff;
}

@media (max-width: 1366px) {
  .contact__social-link {
    font-size: 16px;
  }
}

.account-section {
  position: relative;
}

.account-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-section__button > img {
  margin-top: 3px;
  margin-left: 10px;
  height: 100%;
}

.account-section-dropdown {
  position: absolute;
  top: 111px;
  right: 0;
  width: 367px;
  padding: 53px;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 0px 10px;
  background-color: #070735;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account-section-dropdown__element {
  margin-bottom: 36px;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
}

.account-section-dropdown__element:hover {
  color: #ffee00;
}

.account-section-dropdown__element:last-child {
  margin-top: 61px;
}

.private-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.private-container {
  width: 78%;
  height: 100%;
}

.private-container__inner {
  padding: 0 60px;
}

.side-menu {
  width: 22%;
  height: 923px;
  position: absolute;
  top: 112px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
  background-color: #070735;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu__list {
  width: 70%;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1600px) {
  .side-menu__list {
    width: 80%;
  }
}

.side-menu__element {
  margin-top: 40px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.side-menu__element > img {
  height: 100%;
}

.close .side-menu__content {
  height: 0px;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.open .side-menu__content {
  width: 100%;
  text-align: left;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.side-menu__heading {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu__heading > img {
  position: absolute;
  right: 0;
}

.side-menu__heading:before {
  content: "";
  display: inline-block;
  height: 34px;
  min-width: 4px;
  margin-right: 10px;
  background-color: #ffee00;
}

.side-menu__submenu {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu__subheader {
  opacity: 0.7;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.side-menu__subheader-active {
  opacity: 1;
}

.side-menu__exit {
  margin-top: 150px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 22px;
}

.side-menu__exit:before {
  content: "";
  display: inline-block;
  height: 34px;
  width: 4px;
  margin-right: 10px;
  background-color: #ffee00;
}

.side-menu__settings {
  margin-top: 50px;
  width: 100%;
  height: 54px;
  background-color: #ffee00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.navigation {
  height: 133px;
  padding: 0 60px;
  background-color: rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__header {
  font-weight: normal;
  font-size: 28px;
  opacity: 0.7;
}

.navigation__line {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  font-size: 18px;
  color: #000000;
  opacity: 0.5;
}

.navigation__link_active {
  opacity: 1;
}

.navigation__arrow {
  margin: 0 25px;
}

.rate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rate-pick {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rate-pick__header {
  margin-bottom: 42px;
  font-weight: normal;
  font-size: 28px;
}

.rate-pick__element {
  margin-bottom: 26px;
  width: 475px;
  height: 227px;
  padding: 32px 55px 39px 55px;
  border: 2px solid #ffee00;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rate-pick__element_active {
  background-color: #ffee00;
}

.rate-pick__title {
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.rate-pick__description {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 20px;
}

.rate-pick__description:before {
  content: "";
  display: inline-block;
  height: 28px;
  width: 4px;
  margin-right: 10px;
  background-color: #ffee00;
}

.rate-pick__description_active:before {
  background-color: #000000;
}

.credit-column {
  width: 45% !important;
}

.finance-column {
  width: 65% !important;
  border: 2px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.rate-section {
  width: 100%;
  margin-top: 113px;
  margin-left: 27px;
  border-radius: 10px;
}

.rate-section__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(196, 196, 196, 0.17);
}

.rate-section__header-wrapper {
  height: 91px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.rate-section__header-wrapper-p {
  margin-bottom: 62px;
}

.rate-section__header-wrapper-m {
  margin-bottom: 46px;
}

.rate-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.rate-section__header > span {
  margin-right: 8px;
  font-weight: normal;
  font-size: 18px;
}

.rate-section__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.rate-section__available-money {
  width: 100%;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  color: #ffee00;
  font-size: 50px;
  background-color: #070735;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.rate-section__available-money_wrapper {
  max-width: 628px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rate-section__available-money-p {
  margin: 14px 0 37px 0;
}

.rate-section__available-money-m {
  margin: 10px 0 27px 0;
}

.rate-section__deposit-wrapper {
  margin-top: 12px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rate-section__input {
  max-width: 628px;
  width: 100%;
  height: 67px;
  border: 1px solid #070735;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  border-right-width: 0px;
  padding-left: 30px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate-section__input-currency {
  width: 76px;
  height: 67px;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #070735;
}

.rate-section__deposit-rule {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}

.rate-section__deposit-submit-wrapper {
  margin-top: 32px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rate-section__deposit-submit-button {
  max-width: 314px;
  width: 100%;
  height: 54px;
  background-color: #ffee00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #070735;
  font-weight: 600;
  font-size: 22px;
}

.rate-section__deposit-submit-button:hover {
  -webkit-box-shadow: 0px 1px 20px rgba(255, 238, 0, 0.5);
          box-shadow: 0px 1px 20px rgba(255, 238, 0, 0.5);
}

.rate-section__separator {
  margin-top: 77px;
  margin-bottom: 69px;
  width: 78%;
  height: 2px;
  background-color: #070735;
  opacity: 0.8;
}

.rate-section__personal-info-wrapper {
  width: 100%;
  margin-top: 30px;
  padding: 0 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rate-section__personal-info-block {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rate-section__personal-info-element {
  margin-top: 20px;
}

.rate-section__personal-info-value-title {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate-section__personal-info-value-title_l:before {
  content: url("/img/infoArrowDark.png");
  margin-right: 10px;
}

.rate-section__personal-info-value-title_r:before {
  content: url("/img/infoArrowYellow.png");
  margin-right: 10px;
}

.rate-section__personal-info-value {
  margin-top: 6px;
  margin-left: 24px;
  font-weight: bold;
  font-size: 20px;
}

.rate-section__footer {
  height: 98px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 60px;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.rate-footer {
  width: 100%;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trademark {
  font-size: 14px;
  opacity: 0.5;
}

.agreement {
  font-size: 22px;
  opacity: 0.5;
}

.centered {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.column-link-section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-link-section__button {
  width: 70%;
  height: 54px;
  background-color: #ffee00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.finance {
  padding: 7% 10%;
  height: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.finance__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
}

.finance__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finance__title {
  font-weight: 600;
}

.finance__description {
  margin-top: 10px;
  font-weight: normal;
}

.finance__value {
  margin-left: 10px;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 14px;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finance__value_income {
  background: #00c2ff;
}

.finance__value_outcome {
  background: #ff0000;
}

.finance__value_active {
  background: #ffb800;
}

.finance__value_partnership {
  background: #00c21f;
}

.table-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.title:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 4px;
  height: 40px;
  background: #ffee00;
}

@media (max-width: 1024px) {
  .title:before {
    left: -12px;
    top: 21px;
    width: 4px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .title:before {
    left: -8px;
    top: 11px;
    width: 2px;
    height: 15px;
  }
}

.title_margin {
  margin-bottom: 45px;
}

@media (max-width: 1366px) {
  .title {
    font-size: 24px;
  }
}

.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.subtitle_margin {
  margin-bottom: 45px;
}

@media (max-width: 1366px) {
  .subtitle {
    font-size: 18px;
  }
}

.section-margin {
  margin-top: 90px;
}

.table {
  width: 100%;
  margin-bottom: 70px;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.table__title-wrapper {
  height: 61px;
  background-color: #dddddd;
}

.table__title {
  padding: 0 32px;
  vertical-align: middle;
  border-radius: 10px 10px 0px 0px;
  font-weight: 500;
  font-size: 20px;
}

.table__head {
  height: 80px;
}

.table__head > .table__header {
  background: url("/img/table-border.png") center right no-repeat;
  border-bottom: 2px solid #dddddd;
}

.table__head > .table__header:last-child {
  background: unset !important;
}

.table__header {
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 20px;
}

.table__element {
  height: 52px;
}

.table__element > .table__value {
  background: url("/img/table-border.png") center right no-repeat;
}

.table__element > .table__value:last-child {
  background: unset !important;
}

.table__value {
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-size: 20px;
}

tr:not(.table__element) + .table__element > .table__value {
  background: url("/img/table-border_last.png") bottom right no-repeat;
}

tr[class*="table__element"]:last-of-type > .table__value {
  background: url("/img/table-border_last.png") top right no-repeat;
}
/*# sourceMappingURL=private.css.map */