// Colors
$darkblue_: #070735;
$white_: #ffffff;
$fadeout: rgba(7, 7, 53, 0.55);
$gray_: rgba(0, 0, 0, 0.5);
$lightblue: #00c2ff;
$opacity: rgba(0, 0, 0, 0.25);
$error: #ff0000;
$yellow_: #ffee00;
// УДАЛИТЬ

@import "core";

body {
    font-family: $main-font;
}

.header-wrapper {
    position: relative;
}

.settings-showup {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: $fadeout;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        height: 100vh;
        width: 636px;
        padding: 30px 45px;
        box-sizing: border-box;
        background-color: $white_;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: $opacity;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__header-title {
        color: $darkblue_;
        font-size: 20px;
    }
    &__close-button {
        cursor: pointer;
        & > img {
            width: 13px;
            height: 12px;
        }
    }
    &__separator {
        margin: 38px 0;
        width: 70%;
        height: 1px;
        background-color: $opacity;
        &_long {
            margin-top: 26px;
            margin-bottom: 64px;
            width: 100%;
            height: 1px;
            background-color: $opacity;
        }
    }
    &__inner {
        padding: 0 50px;
    }
    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__avatar-img {
        & > img {
            border-radius: 50%;
            max-width: 169px;
            max-height: 169px;
        }
    }
    &__avatar-title {
        margin-top: 10px;
        font-size: 22px;
    }
    &__avatar-id {
        margin-top: 5px;
        margin-bottom: 18px;
        font-size: 14px;
        opacity: 0.5;
    }
    &__account-settings {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 500;
        font-size: 20px;
    }
    &__settings-description {
        margin-top: 12px;
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.5;
    }
    &__change-button {
        width: 50%;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        background-color: $yellow_;
        border-radius: 10px;
    }
}

.contact-showup {
    display: block;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: $fadeout;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &__block {
        position: relative;
        background-color: $white_;
        z-index: 999;
        width: 45%;
        height: 50%;
        border-radius: 10px;
        @media (max-width: 1920px) {
            width: 65%;
            height: 75%;
        }
        @media (max-width: 1366px) {
            height: 85%;
        }
        @media (max-width: 768px) {
            height: 70%;
        }
        @media (max-width: 425px) {
        }
        @media (max-width: 340px) {
        }
    }
    &__close {
        position: absolute;
        top: 7%;
        right: 5%;
        @media (max-width: 425px) {
        }
        & > img {
            @media (max-width: 425px) {
                width: 12px;
                height: 11px;
            }
        }
    }
}

.contact-section {
    z-index: 999;
    box-sizing: border-box;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    &__social-wrapper {
        width: 78%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &_margin {
            margin-bottom: 100px;
            @media (max-width: 1600px) {
                margin-bottom: 50px;
            }
        }
        @media (max-width: 1600px) {
            width: 85%;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__social-block {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__social-img {
        display: flex;
        justify-content: center;
        & > img {
            max-width: 100%;
        }
    }
    &__social-name {
        margin-top: 20px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18px;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
    }
    &__social-link {
        font-weight: 500;
        font-size: 18px;
        color: #00c2ff;
        @media (max-width: 1366px) {
            font-size: 16px;
        }
    }
}

.account-section {
    position: relative;
    &__button {
        display: flex;
        align-items: center;
        & > img {
            margin-top: 3px;
            margin-left: 10px;
            height: 100%;
        }
    }
}

.account-section-dropdown {
    position: absolute;
    top: 111px;
    right: 0;
    width: 367px;
    padding: 53px;
    z-index: 5;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 10px;
    background-color: $darkblue_;
    display: flex;
    flex-direction: column;
    &__element {
        margin-bottom: 36px;
        cursor: pointer;
        font-size: 18px;
        color: $white_;
        &:hover {
            color: $yellow_;
        }
        &:last-child {
            margin-top: 61px;
        }
    }
}

.private-container-wrapper {
    display: flex;
    justify-content: flex-end;
}

.private-container {
    width: 78%;
    height: 100%;
    &__inner {
        padding: 0 60px;
    }
}

.side-menu {
    width: 22%;
    height: 923px;
    position: absolute;
    top: 112px;
    box-sizing: border-box;
    z-index: 5;
    background-color: $darkblue_;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
        width: 70%;
        color: $white_;
        font-family: "Montserrat";
        font-weight: 600;
        list-style: none;
        padding: 0;
        margin: 0;
        @media (max-width: 1600px) {
            width: 80%;
        }
    }
    &__element {
        margin-top: 40px;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        & > img {
            height: 100%;
        }
    }
    .close &__content {
        height: 0px;
        transition: height 1s ease-out;
        transform: scaleY(0);
    }
    .open &__content {
        width: 100%;
        text-align: left;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.4s ease;
    }
    &__heading {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        & > img {
            position: absolute;
            right: 0;
        }
        &:before {
            content: "";
            display: inline-block;
            height: 34px;
            min-width: 4px;
            margin-right: 10px;
            background-color: $yellow_;
        }
    }
    &__submenu {
        list-style-type: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__subheader {
        opacity: 0.7;
        margin-left: 15px;
        margin-top: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    &__subheader-active {
        opacity: 1;
    }
    &__exit {
        margin-top: 150px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 22px;
        &:before {
            content: "";
            display: inline-block;
            height: 34px;
            width: 4px;
            margin-right: 10px;
            background-color: $yellow_;
        }
    }
    &__settings {
        margin-top: 50px;
        width: 100%;
        height: 54px;
        background-color: $yellow_;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }
}

.navigation {
    height: 133px;
    padding: 0 60px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__header {
        font-weight: normal;
        font-size: 28px;
        opacity: 0.7;
    }
    &__line {
        margin-top: 15px;
        display: flex;
    }
    &__link {
        font-size: 18px;
        color: #000000;
        opacity: 0.5;
        &_active {
            opacity: 1;
        }
    }
    &__arrow {
        margin: 0 25px;
    }
}
.rate-wrapper {
    display: flex;
    justify-content: space-between;
}

.rate-pick {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    &__header {
        margin-bottom: 42px;
        font-weight: normal;
        font-size: 28px;
    }
    &__element {
        margin-bottom: 26px;
        width: 475px;
        height: 227px;
        padding: 32px 55px 39px 55px;
        border: 2px solid $yellow_;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        &_active {
            background-color: $yellow_;
        }
    }
    &__title {
        margin-bottom: 25px;
        text-align: center;
        font-weight: bold;
        font-size: 28px;
    }
    &__description {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 20px;
        &:before {
            content: "";
            display: inline-block;
            height: 28px;
            width: 4px;
            margin-right: 10px;
            background-color: $yellow_;
        }
        &_active {
            &:before {
                background-color: #000000;
            }
        }
    }
}

.credit-column {
    width: 45% !important;
}

.finance-column {
    width: 65% !important;
    border: 2px solid #dddddd;
    box-sizing: border-box;
    border-radius: 10px;
}

.rate-section {
    width: 100%;
    margin-top: 113px;
    margin-left: 27px;
    border-radius: 10px;
    &__rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(196, 196, 196, 0.17);
    }
    &__header-wrapper {
        height: 91px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px 10px 0 0;
        background-color: rgba(0, 0, 0, 0.1);
        &-p {
            margin-bottom: 62px;
        }
        &-m {
            margin-bottom: 46px;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        & > span {
            margin-right: 8px;
            font-weight: normal;
            font-size: 18px;
        }
    }
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
    }
    &__available-money {
        &_wrapper {
            max-width: 628px;
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }
        width: 100%;
        height: 106px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        color: $yellow_;
        font-size: 50px;
        background-color: $darkblue_;
        box-shadow: 0px 4px 20px $opacity;
        border-radius: 10px;
        &-p {
            margin: 14px 0 37px 0;
        }
        &-m {
            margin: 10px 0 27px 0;
        }
    }
    &__deposit-wrapper {
        margin-top: 12px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    &__input {
        max-width: 628px;
        width: 100%;
        height: 67px;
        border: 1px solid #070735;
        box-sizing: border-box;
        border-radius: 10px 0 0 10px;
        border-right-width: 0px;
        padding-left: 30px;
        font-size: 20px;
        display: flex;
        align-items: center;
        &-currency {
            width: 76px;
            height: 67px;
            border-radius: 0px 10px 10px 0px;
            color: $white_;
            font-size: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkblue_;
        }
    }
    &__deposit-rule {
        margin-top: 6px;
        font-size: 14px;
        text-align: center;
    }
    &__deposit-submit-wrapper {
        margin-top: 32px;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    &__deposit-submit-button {
        max-width: 314px;
        width: 100%;
        height: 54px;
        background-color: $yellow_;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: $darkblue_;
        font-weight: 600;
        font-size: 22px;
        &:hover {
            box-shadow: 0px 1px 20px rgba(255, 238, 0, 0.5);
        }
    }
    &__separator {
        margin-top: 77px;
        margin-bottom: 69px;
        width: 78%;
        height: 2px;
        background-color: $darkblue_;
        opacity: 0.8;
    }
    &__personal-info-wrapper {
        width: 100%;
        margin-top: 30px;
        padding: 0 7%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    &__personal-info-block {
        width: 43%;
        display: flex;
        flex-direction: column;
    }
    &__personal-info-element {
        margin-top: 20px;
    }
    &__personal-info-value-title {
        font-size: 22px;
        display: flex;
        align-items: center;
        &_l {
            &:before {
                content: url("/img/infoArrowDark.png");
                margin-right: 10px;
            }
        }
        &_r {
            &:before {
                content: url("/img/infoArrowYellow.png");
                margin-right: 10px;
            }
        }
    }
    &__personal-info-value {
        margin-top: 6px;
        margin-left: 24px;
        font-weight: bold;
        font-size: 20px;
    }
    &__footer {
        height: 98px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 60px;
        padding: 0 45px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        border-radius: 0 0 10px 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.rate-footer {
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trademark {
    font-size: 14px;
    opacity: 0.5;
}

.agreement {
    font-size: 22px;
    opacity: 0.5;
}

.centered {
    justify-content: center !important;
}

.column-link-section {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 272px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__button {
        width: 70%;
        height: 54px;
        background-color: $yellow_;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }
}

.finance {
    padding: 7% 10%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__element {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 20px;
    }
    &__text-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 600;
    }
    &__description {
        margin-top: 10px;
        font-weight: normal;
    }
    &__value {
        margin-left: 10px;
        height: 42px;
        box-sizing: border-box;
        padding: 6px 14px;
        color: $white_;
        font-weight: 500;
        font-size: 24px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_income {
            background: #00c2ff;
        }
        &_outcome {
            background: #ff0000;
        }
        &_active {
            background: #ffb800;
        }
        &_partnership {
            background: #00c21f;
        }
    }
}

.table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    &:before {
        content: "";
        display: inline-block;
        margin-right: 10px;
        width: 4px;
        height: 40px;
        background: $yellow_;
        @media (max-width: 1024px) {
            left: -12px;
            top: 21px;
            width: 4px;
            height: 30px;
        }
        @media (max-width: 425px) {
            left: -8px;
            top: 11px;
            width: 2px;
            height: 15px;
        }
    }
    &_margin {
        margin-bottom: 45px;
    }
    @media (max-width: 1366px) {
        font-size: 24px;
    }
}
.subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    &_margin {
        margin-bottom: 45px;
    }
    @media (max-width: 1366px) {
        font-size: 18px;
    }
}

.section-margin {
    margin-top: 90px;
}

.table {
    width: 100%;
    margin-bottom: 70px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #dddddd;
    box-sizing: border-box;
    border-radius: 10px;
    &__title-wrapper {
        height: 61px;
        background-color: #dddddd;
    }
    &__title {
        padding: 0 32px;
        vertical-align: middle;
        border-radius: 10px 10px 0px 0px;
        font-weight: 500;
        font-size: 20px;
    }
    &__head {
        height: 80px;
        & > .table__header {
            background: url("/img/table-border.png") center right no-repeat;
            border-bottom: 2px solid #dddddd;
        }
        & > .table__header:last-child {
            background: unset !important;
        }
    }
    &__header {
        text-align: center;
        vertical-align: middle;
        font-weight: 500;
        font-size: 20px;
    }
    &__element {
        height: 52px;
        & > .table__value {
            background: url("/img/table-border.png") center right no-repeat;
        }
        & > .table__value:last-child {
            background: unset !important;
        }
    }
    &__value {
        text-align: center;
        vertical-align: middle;
        font-weight: normal;
        font-size: 20px;
    }
}

tr:not(.table__element) + .table__element > .table__value {
    background: url("/img/table-border_last.png") bottom right no-repeat;
}

tr[class*="table__element"]:last-of-type > .table__value {
    background: url("/img/table-border_last.png") top right no-repeat;
}
