@import "core";

.anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    &__concept {
        top: 100px;
        @media (max-width: 1600px) {
            top: 180px;
        }
    }
    &__work-process {
        top: -150px;
        @media (max-width: 1600px) {
            top: -60px;
        }
    }
    &__rate-slider {
        top: -50px;
        @media (max-width: 1600px) {
            top: 10px;
        }
    }
    &__review-section {
        top: 50px;
        @media (max-width: 1600px) {
            top: 150px;
        }
    }
    &__q-a-section {
        top: -50px;
        @media (max-width: 1600px) {
            top: -20px;
        }
    }
}

.container {
    padding: 0 150px;
    @media (max-width: 1600px) {
        padding: 0 100px;
    }
    @media (max-width: 1366px) {
        padding: 0 60px;
    }
    @media (max-width: 1024px) {
        padding: 0 40px;
    }
    @media (max-width: 425px) {
        padding: 0 20px;
    }
}

.header-dropdown {
    z-index: 3;
    display: block;
    position: fixed;
    top: 112px;
    right: 0;
    width: 185px;
    height: 214px;
    font-size: 12px;
    font-family: $header-font;
    font-weight: 600;
    color: $white_;
}
.ask-question-section {
    font-family: $main-font;
    display: block;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: $fadeout;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &__block {
        position: relative;
        background-color: $white_;
        z-index: 3;
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 96px;
        padding: 5% 4%;
        @media (max-width: 1920px) {
            width: 60%;
            height: 40%;
        }
        @media (max-width: 1600px) {
            height: 45%;
        }
        @media (max-width: 1024px) {
            border-radius: 64px;
            width: 80%;
            height: 35%;
        }
        @media (max-width: 425px) {
            border-radius: 48px;
            width: 80%;
            height: 250px;
            padding: 7% 7%;
        }
        @media (max-width: 340px) {
            border-radius: 42px;
            height: 30%;
        }
    }
    &__title {
        width: 100%;
        text-align: center;
    }
    &__textarea {
        margin-top: 4%;
        width: 100%;
        height: 55%;
        padding: 31px 40px;
        border: 1px solid $opacity;
        box-sizing: border-box;
        border-radius: 10px;
        resize: none;
        font-family: $main-font;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        &:focus {
            outline: none;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
        }
        &::placeholder {
            color: $opacity;
        }
        @media (max-width: 1600px) {
            height: 70%;
        }
        @media (max-width: 1366px) {
            padding: 20px 30px;
            font-size: 24px;
            height: 80%;
        }
        @media (max-width: 425px) {
            padding: 10px 20px;
            font-size: 14px;
        }
    }
    &__submit {
        width: 25%;
        height: 22%;
        margin-top: 5%;
        background: $yellow_;
        border-radius: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        @media (max-width: 1600px) {
            height: 25%;
        }
        @media (max-width: 1366px) {
            font-size: 24px;
            height: 40%;
        }
        @media (max-width: 1024px) {
            width: 30%;
            height: 30%;
        }
        @media (max-width: 425px) {
            border-radius: 16px;
            font-size: 14px;
            width: 120px;
            height: 50px;
        }
    }
    &__close {
        position: absolute;
        top: 12%;
        right: 7%;
        @media (max-width: 425px) {
            top: 12%;
            right: 10%;
        }

        & > img {
            @media (max-width: 425px) {
                width: 12px;
                height: 11px;
            }
        }
    }
}
.ask-question-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.authorization-showup {
    font-family: $main-font;
    display: block;
    position: fixed;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    background-color: $fadeout;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &__block {
        position: relative;
        background-color: $white_;
        z-index: 3;
        width: 25%;
        height: 70%;
        border-radius: 96px;
        @media (max-width: 1920px) {
            width: 40%;
            height: 90%;
        }
        @media (max-width: 1366px) {
            height: 95%;
        }
        @media (max-width: 1024px) {
            border-radius: 64px;
            width: 70%;
            height: 85%;
        }
        @media (max-width: 425px) {
            border-radius: 48px;
            width: 80%;
            height: 85%;
        }
        @media (max-width: 340px) {
            width: 90%;
        }
    }
    &__close {
        position: absolute;
        top: 10%;
        right: 10%;
        @media (max-width: 425px) {
            top: 7%;
            right: 9%;
        }

        & > img {
            @media (max-width: 425px) {
                width: 12px;
                height: 11px;
            }
        }
    }
}

.input-field-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-position {
        margin-top: 20px;
        @media (max-width: 425px) {
            margin-top: 0;
        }
    }
}

.input-field {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 425px) {
        margin-top: 15px;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
        @media (max-width: 425px) {
            font-size: 16px;
        }
    }
    & > input {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 20px;
        border: 1px solid $opacity;
        box-sizing: border-box;
        font-size: 16px;
        border-radius: 10px;
        @media (max-width: 425px) {
            font-size: 10px;
            height: 20px !important;
            padding: 13px;
        }
        @media (max-width: 340px) {
            height: 15px !important;
            padding: 12px;
        }
    }
    & > input:focus {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    }
    &__forgot-password {
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: 425px) {
            text-align: center;
            font-size: 12px;
            color: $gray_;
            top: 131%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-registration {
        @media (max-width: 1600px) {
            margin-top: 10px;
        }
        & > input {
            @media (max-width: 1600px) {
                height: 25px;
            }
        }
        & > span {
            @media (max-width: 1600px) {
                font-size: 16px;
            }
            @media (max-width: 425px) {
                line-height: 14px;
                font-size: 12px;
                margin-bottom: 2px;
            }
        }
    }
}

.authorization-error-message {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $error;
    text-align: center;
    @media (max-width: 425px) {
        font-size: 14px;
        margin-top: 35px;
    }
}

.remember-checkbox-custom {
    cursor: pointer;
}

.remember-checkbox-wrapper {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    @media (max-width: 425px) {
        margin-top: 40px;
    }
    &-registration {
        margin-top: 20px;
        @media (max-width: 425px) {
            display: none;
        }
    }
}

.remember-checkbox {
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.remember-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.remember-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    @media (max-width: 425px) {
        width: 12px;
        height: 12px;
        border-width: 2px;
        background-size: contain;
    }
}

.remember-checkbox:checked + label::before {
    border-color: $yellow_;
    background-color: $yellow_;
    background-image: url("/img/checked.png");
}

.remember-checkbox-label {
    margin-left: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: 425px) {
        font-size: 12px;
        margin-left: 5px;
    }
}

.license-agreement {
    display: none;
    @media (max-width: 425px) {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $gray_;
        font-size: 10px;
    }
}

.authorization-section {
    box-sizing: border-box;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 425px) {
        padding: 5% 7%;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        @media (max-width: 425px) {
            line-height: 36px;
            font-size: 24px;
        }
        @media (max-width: 380px) {
            line-height: 16px;
            font-size: 16px;
        }
    }
    &__registration-message {
        margin-top: 10px;
        color: $gray_;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        @media (max-width: 425px) {
            margin-top: unset;
            font-size: 12px;
        }
    }
    &__registration-link {
        cursor: pointer;
        color: $lightblue !important;
        border-bottom: 1px solid $lightblue;
    }
    &__login {
        margin-top: 30px;
        display: block;
        padding: 15px 90px;
        border-radius: 30px;
        background-color: $yellow_;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        @media (max-width: 425px) {
            margin-top: 5px;
            font-size: 12px;
            padding: 5px 60px;
        }
    }
}

.proposition-section {
    &-position {
        margin-top: 135px;
        @media (max-width: 1600px) {
            margin-top: 50px;
        }
        @media (max-width: 1024px) {
            margin-top: 150px;
        }
        @media (max-width: 425px) {
            margin-top: 80px;
        }
    }
    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media (max-width: 1024px) {
            justify-content: flex-end;
        }
    }
    &__img {
        margin-right: 30px;
        & > img {
            height: auto;
            width: 100%;
        }
        @media (max-width: 1024px) {
            position: absolute;
            margin-right: 370px;
            width: 45%;
        }
        @media (max-width: 1024px) {
            margin-right: 340px;
        }
        @media (max-width: 425px) {
            margin-right: 55%;
        }
        @media (max-width: 340px) {
            margin-right: 60%;
        }
    }
    &__text {
        line-height: 84px;
        text-align: right;
        width: 50%;
        & > h1 {
            text-align: right;
        }
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    &__button {
        margin-top: 72px;
        width: 475px;
        height: 96;
        background: $yellow_;
        border-radius: 30px;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        @media (max-width: 1024px) {
            width: 300px;
            height: 70px;
            font-size: 24px;
        }
        @media (max-width: 425px) {
            margin-top: 24px;
            width: 150px;
            height: 40px;
            font-size: 12px;
        }
    }
}

.concept-description {
    &-position {
        margin-top: 412px;
        @media (max-width: 1024px) {
            margin-top: 150px;
        }
        @media (max-width: 425px) {
            margin-top: 90px;
        }
    }
    &__inner {
        height: 860px;
        background: $darkblue_;
        box-shadow: 0 0 30px $gray_;
        border-radius: 96px;
        padding: 200px 160px 120px 160px;
        display: flex;
        flex: 75% 25%;
        justify-content: center;
        color: $white_;
        @media (max-width: 1440px) {
            padding: 200px 80px 120px 80px;
        }
        @media (max-width: 1024px) {
            padding: 80px 21px 50px 100px;
            height: 570px;
        }
        @media (max-width: 425px) {
            padding: 40px 30px 0 35px;
            border-radius: 40px;
            height: 340px;
        }
        @media (max-width: 380px) {
            height: 280px;
        }
    }
    &__text {
        position: relative;
        max-width: 760px;
        @media (max-width: 1024px) {
            max-width: 70%;
        }
        & > h2:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -35px;
            top: 12px;
            width: 9px;
            height: 125px;
            background: $yellow_;
            @media (max-width: 1440px) {
                top: 8px;
                height: 80px;
            }
            @media (max-width: 1024px) {
                top: 5px;
                height: 62px;
                width: 5px;
                left: -15px;
            }
            @media (max-width: 425px) {
                top: 2px;
                height: 37px;
                width: 3px;
                left: 0;
            }
        }
        & > h2 {
            line-height: 72px;
            margin-bottom: 50px;
            @media (max-width: 1024px) {
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 26px;
            }
            @media (max-width: 425px) {
                font-size: 14px;
                line-height: 20px;
                margin-left: 10px;
            }
        }
    }
    &__img {
        margin-left: 150px;
        margin-top: 180px;
        @media (max-width: 1600px) {
            margin-left: 100px;
        }
        @media (max-width: 1440px) {
            & > img {
                min-width: 43%;
            }
        }
        @media (max-width: 1024px) {
            margin-top: 180px;
            margin-left: 20px;
            & > img {
                max-width: 100%;
            }
        }
        @media (max-width: 425px) {
            margin-top: 100px;
        }
    }
}

.work-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-position {
        margin-top: 320px;
        padding: 0 80px;
        @media (max-width: 1024px) {
            margin-top: 120px;
            padding: 0 10%;
        }
        @media (max-width: 425px) {
            margin-top: 40px;
            padding: 0 7%;
        }
    }
}
.process-sequence {
    width: 100%;
    @media (min-width: 2200px) {
        width: 80%;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div:nth-child(2) {
        justify-content: center;
    }
    & > div:nth-child(3) {
        justify-content: flex-end;
    }
    & > div:nth-child(4) {
        margin-left: 100px;
    }
    & > div:nth-child(5) {
        margin-right: 100px;
    }
    & > div:nth-child(1n + 4) {
        max-width: 45%;
        justify-content: center;
        & > .process-sequence__text {
            margin-top: 10px;
            @media (max-width: 1366px) {
                margin-top: 0;
            }
        }
    }
    @media (max-width: 1024px) {
        & > div {
            width: 100% !important;
            max-width: 100% !important;
            justify-content: unset !important;
            margin-left: unset !important;
            margin-right: unset !important;
        }
    }
    &__element {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1024px) {
            margin-top: 12px;
        }
    }
    &__number {
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 57px;
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 8px;
            margin-left: 9px;
            width: 6px;
            height: 41px;
            background: $yellow_;
            @media (max-width: 1024px) {
                top: 15px;
                margin-left: 9px;
                width: 4px;
                height: 26px;
            }
            @media (max-width: 425px) {
                top: 17px;
                margin-left: 4px;
                width: 3px;
                height: 18px;
            }
        }
        @media (max-width: 1024px) {
            left: 5%;
            margin-left: unset;
            font-size: 18px;
        }
        @media (max-width: 425px) {
            line-height: 52px;
        }
    }
    &__text {
        margin-left: 37px;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        @media (max-width: 1366px) {
            font-size: 24px;
            line-height: 28px;
        }
        @media (max-width: 1024px) {
            margin-left: 10%;
            font-size: 18px;
            line-height: 26px;
        }
        @media (max-width: 425px) {
            line-height: 18px;
            font-size: 14px;
            margin-left: 9%;
        }
    }
}
.invest-button {
    display: block;
    margin-top: 100px;
    padding: 30px 90px;
    border-radius: 25px;
    background-color: $yellow_;
    font-weight: 500;
    font-size: 36px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    @media (max-width: 1024px) {
        margin-top: 50px;
        padding: 20px 50px;
        font-size: 24px;
    }
    @media (max-width: 425px) {
        margin-top: 30px;
        font-size: 12px;
        padding: 5px 30px;
    }
    &:hover {
        box-shadow: 0 0 10px $yellow_;
    }
}
.rate-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-position {
        padding: 0 9%;
        margin-top: 300px;
        @media (max-width: 1600px) {
            margin-top: 150px;
        }
        @media (max-width: 1024px) {
            margin-top: 80px;
        }
        @media (max-width: 425px) {
            margin-top: 40px;
        }
    }
    &__inner {
        max-width: 100%;
        margin-top: 70px;
        @media (max-width: 1600px) {
            margin-top: 20px;
        }
    }
}
.splide__arrow {
    position: absolute;
    z-index: 1;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
        display: none;
    }
}
.splide__arrow--prev {
    left: -5%;
}

.splide__arrow--next {
    right: -5%;
}

.rate-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__info {
        width: 412px;
        height: 618px;
        padding: 70px 50px 100px 50px;
        border: 2px solid $yellow_;
        box-sizing: border-box;
        border-radius: 96px;
        background: linear-gradient(to bottom, transparent 55.34%, $yellow_ 44.66%);
        @media (max-width: 1600px) {
            width: 390px;
            height: 550px;
        }
        @media (max-width: 1366px) {
            width: 335px;
        }
        @media (max-width: 1024px) {
            width: 234px;
            height: 350px;
            padding: 20px 30px 30px 30px;
            border-radius: 64px;
        }
        @media (max-width: 425px) {
            padding: 20px 15px 40px 15px;
            width: 117px;
            height: 175px;
            border-radius: 30px;
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        text-align: center;
        white-space: nowrap;
        @media (max-width: 1600px) {
            font-size: 40px;
        }
        @media (max-width: 1366px) {
            font-size: 32px;
        }
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 12px;
        }
        @media (max-width: 425px) {
            font-size: 9px;
        }
    }
    &__income-title {
        margin-top: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        @media (max-width: 1366px) {
            font-size: 26px;
        }
        @media (max-width: 1024px) {
            font-size: 14px;
        }
        @media (max-width: 425px) {
            margin-top: 15px;
            font-size: 7px;
            line-height: 12px;
        }
    }
    &__income-value {
        margin-top: 20px;
        height: 55px;
        width: 160px;
        background-color: $yellow_;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        @media (max-width: 1366px) {
            font-size: 24px;
            width: 130px;
        }
        @media (max-width: 1024px) {
            font-size: 18px;
            margin-top: 5px;
            height: 35px;
            width: 90px;
        }
        @media (max-width: 425px) {
            font-size: 9px;
            height: 16px;
            width: 46px;
        }
    }
    &__detailed-info {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 42px;
        @media (max-width: 1366px) {
            margin-top: 70px;
            font-size: 20px;
        }
        @media (max-width: 1024px) {
            font-size: 14px;
            margin-top: 50px;
            line-height: 28px;
        }
        @media (max-width: 425px) {
            font-size: 7px;
            margin-top: 25px;
            line-height: 14px;
        }
    }
    &__button {
        margin-top: 52px;
        width: 225px;
        height: 94px;
        border: 2px solid $yellow_;
        box-sizing: border-box;
        border-radius: 30px;
        color: $darkblue_;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        @media (max-width: 1366px) {
            font-size: 30px;
            width: 200px;
            height: 75px;
        }
        @media (max-width: 1024px) {
            margin-top: 25px;
            font-size: 18px;
            width: 120px;
            height: 50px;
        }
        @media (max-width: 425px) {
            font-size: 9px;
            line-height: 11px;
            width: 64px;
            height: 27px;
        }
    }
}
.review-section {
    margin-top: 300px;
    background-color: $darkblue_;
    height: 1128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
        margin-top: 100px;
        height: 500px;
    }
}
.review-title {
    text-align: center;
    color: $white_;
}
.review-slider-wrapper {
    max-width: 100%;
    margin-top: 80px;
    @media (max-width: 1366px) {
        margin-top: 40px;
    }
    @media (max-width: 1024px) {
        margin-top: 20px;
    }
}
.review-element {
    display: flex;
    justify-content: center;
    max-width: 69.5%;
    @media (max-width: 1024px) {
        min-width: 90%;
    }
    &__avatar {
        margin-right: 75px;
        @media (max-width: 1024px) {
            margin-right: 30px;
        }
        & > img {
            border-radius: 50%;
            @media (max-width: 1024px) {
                max-width: 128px;
            }
            @media (max-width: 425px) {
                max-width: 100px;
            }
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: $yellow_;
        @media (max-width: 1366px) {
            font-size: 30px;
        }
        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 40px;
        }
        @media (max-width: 425px) {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $white_;
        @media (max-width: 1366px) {
            font-size: 24px;
        }
        @media (max-width: 1024px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 425px) {
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
        }
    }
}
.review-selection {
    display: flex;
    justify-content: center;
    &__button {
        width: 27.16%;
        height: 85px;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 100px;
        user-select: none;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid $yellow_;
        box-sizing: border-box;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $yellow_ !important;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        &-picked {
            background: $yellow_;
            color: #000000 !important;
        }
        @media (max-width: 1600px) {
            font-size: 24px;
        }
        @media (max-width: 1366px) {
            height: 65px;
            font-size: 20px;
            line-height: 26px;
        }
        @media (max-width: 1024px) {
            margin-top: 50px;
            width: 35%;
            line-height: 26px;
            height: 50px;
            font-size: 16px;
        }
        @media (max-width: 425px) {
            height: 40px;
            width: 50%;
            font-size: 12px;
            margin-right: 8px;
            margin-left: 8px;
            margin-top: 40px;
        }
        @media (max-width: 340px) {
            width: 60%;
            margin-right: 5px;
            margin-left: 5px;
            font-size: 11px;
        }
    }
}
.splide__slide {
    display: flex;
    justify-content: center;
}
.splide__pagination__page {
    margin: 0 9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $yellow_;
    box-sizing: border-box;
    @media (max-width: 425px) {
        margin-right: 4px;
        margin-left: 4px;
        height: 10px;
        width: 10px;
    }
}
.splide__pagination {
    width: 100% !important;
    margin-top: 30px !important;
    padding-inline-start: 0 !important;
    & > li {
        & > .is-active {
            background-color: $yellow_;
        }
    }
}
.q-a-section {
    margin: 300px 50px 0 50px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
        min-height: 700px;
        margin: 100px 30px 0 30px;
        text-align: center;
    }
    @media (max-width: 425px) {
        min-height: 300px;
        margin: 50px 5px 0 5px;
    }
    @media (min-width: 2000px) {
        padding: 20%;
    }
}

// Accordition
.accordion-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
        margin-top: 0;
    }
}

.accordition-item {
    &:nth-child(2) {
        align-self: flex-end;
    }
    position: relative;
    width: 1163px;
    margin-top: 37px;
    box-sizing: border-box;
    padding: 20px 40px 20px 80px;
    border: 2px solid $yellow_;
    border-radius: 30px;
    @media (max-width: 1600px) {
        width: 100%;
    }
    @media (max-width: 1024px) {
        margin-top: 15px;
        border: 1px solid $yellow_;
        padding: 5px 10px 5px 40px;
    }
    @media (max-width: 425px) {
        margin-top: 10px;
        padding: 0 20px 0 30px;
    }
    &__arrow {
        content: url("../img/accordion-arrow.png");
        position: absolute;
        top: 50px;
        right: 40px;
        transition: transform 0.25s ease-in-out;
        transform: rotate(360deg);
        @media (max-width: 1024px) {
            top: 30px;
        }
        @media (max-width: 425px) {
            top: 16px;
            width: 15px;
            right: 20px;
        }
    }
    &__heading {
        width: 100%;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 36px;
        text-align: left;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -12px;
            top: 17px;
            width: 4px;
            height: 40px;
            background: $yellow_;
            @media (max-width: 1024px) {
                left: -12px;
                top: 21px;
                width: 4px;
                height: 30px;
            }
            @media (max-width: 425px) {
                left: -8px;
                top: 11px;
                width: 2px;
                height: 15px;
            }
        }
        @media (max-width: 1366px) {
            font-size: 28px;
        }
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 425px) {
            font-size: 10px;
        }
        @media (max-width: 375px) {
            font-size: 8px;
        }
    }
    .close &__content {
        height: 0px;
        transition: height 1s ease-out;
        transform: scaleY(0);
    }
    .open &__content {
        width: 100%;
        text-align: left;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.4s ease;
        box-sizing: border-box;
        & > span {
            color: #00c2ff;
        }
        @media (max-width: 1366px) {
            font-size: 24px;
        }
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
        }
        @media (max-width: 425px) {
            font-size: 8px;
            line-height: 10px;
        }
    }
}
.ask-question-button {
    margin-top: 100px;
    margin-bottom: 100px;
    align-self: center;
    width: 416px;
    height: 85px;
    cursor: pointer;
    user-select: none;
    background: $darkblue_;
    border-radius: 30px;
    color: $white_ !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    &:hover {
        color: $white_ !important;
    }
    @media (max-width: 425px) {
        margin-top: 30px;
        width: 160px;
        height: 30px;
        font-size: 14px;
        line-height: 12px;
    }
    @media (max-width: 375px) {
        font-size: 12px;
    }
}
.link-mapframe {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0px;
}
.mapframe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @media (max-width: 1024px) {
        height: 100%;
    }
}
.mapframe {
    position: relative;
    width: 100%;
    height: 100%;
}
.map {
    height: 636px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 425px) {
        height: 300px;
    }
    &__contacts {
        position: absolute;
        color: $white_;
        width: 598px;
        height: 484px;
        padding: 120px 100px 100px 128px;
        margin-right: 91px;
        box-sizing: border-box;
        background: $darkblue_;
        border-radius: 96px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 1366px) {
            width: 500px;
            height: 440px;
            padding: 80px 30px 80px 80px;
        }
        @media (max-width: 1024px) {
            width: 310px;
            height: 280px;
            padding: 80px 30px 80px 50px;
            border-radius: 60px;
            margin-right: 40px;
        }
        @media (max-width: 425px) {
            width: 133px;
            height: 116px;
            padding: 25px;
            border-radius: 30px;
            margin-right: 30px;
        }
        & > h2 {
            position: relative;
            font-weight: 600;
            font-size: 48px;
            line-height: 57px;
            margin-bottom: 50px;
            margin-left: 12px;
            @media (max-width: 1024px) {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 10px;
                margin-left: 6px;
            }
            @media (max-width: 425px) {
                font-size: 11px;
                line-height: 13px;
                margin-bottom: 10px;
                margin-left: 6px;
            }
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                left: -12px;
                top: 10px;
                width: 6px;
                height: 34px;
                background: $yellow_;
                @media (max-width: 1024px) {
                    left: -12px;
                    top: 0;
                    width: 5px;
                    height: 30px;
                }
                @media (max-width: 425px) {
                    left: -5px;
                    top: 1px;
                    width: 1px;
                    height: 11px;
                }
            }
        }
        & > span {
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            @media (max-width: 1024px) {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 15px;
            }
            @media (max-width: 425px) {
                font-size: 6px;
                line-height: 7px;
                margin-bottom: 8px;
            }
        }
    }
}

footer {
    position: relative;
    height: 449px;
    background-color: $darkblue_;
    @media (max-width: 425px) {
        height: 250px;
    }
}
.link-list-wrapper {
    display: flex;
    justify-content: flex-end;
    & > .link-list:first-child {
        margin-right: auto;
    }
    @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 6% 0 6%;
    }
    @media (max-width: 425px) {
        padding: 10px 2% 0 2%;
    }
}
.link-list {
    margin-top: 84px;
    font-family: "Montserrat";
    color: $white_;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    list-style: none;
    margin-right: 50px;
    padding-inline-start: unset;
    @media (max-width: 1366px) {
        font-size: 18px;
    }
    @media (max-width: 1024px) {
        margin-top: 22px;
        width: 40%;
        margin-right: 0;
    }
    @media (max-width: 425px) {
        width: 40%;
        font-size: 10px;
        margin-top: 10px;
    }
    @media (max-width: 367px) {
        font-size: 8px;
    }
    &__element {
        margin-bottom: 10px;
        @media (max-width: 425px) {
            margin-bottom: 0;
        }
        &:first-child {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            color: $yellow_;
            margin-bottom: 33px;
            @media (max-width: 1366px) {
                font-size: 22px;
            }
            @media (max-width: 1024px) {
                margin-bottom: 10px;
            }
            @media (max-width: 425px) {
                font-size: 14px;
                margin-bottom: 5px;
                line-height: 18px;
            }
            @media (max-width: 367px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}
.social {
    position: absolute;
    bottom: 130px;
    left: 150px;
    margin-top: 40px;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > a > img {
        @media (max-width: 1024px) {
            width: 50px;
        }
        @media (max-width: 425px) {
            width: 30px;
        }
        @media (max-width: 367px) {
            width: 25px;
        }
    }
    @media (max-width: 1600px) {
        left: 100px;
    }
    @media (max-width: 1366px) {
        left: 60px;
        max-width: 250px;
    }
    @media (max-width: 1024px) {
        max-width: 200px;
        left: 10%;
        bottom: 100px;
    }
    @media (max-width: 425px) {
        max-width: 120px;
        left: 6%;
        bottom: 45px;
    }
    @media (max-width: 367px) {
        max-width: 100px;
        left: 7%;
        bottom: 55px;
    }
}
// Review
.review-page {
    padding: 238px 50px 240px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 425px) {
        padding: 0 25px 0 25px;
    }
    &__header {
        margin-bottom: 40px;
        @media(max-width:425px) {
            display: none;
        }
    }
    &__element {
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 1120px;
        display: flex;
        align-items: center;
        &-inner {
            display: flex;
            flex-direction: column;
        }
        @media(max-width:425px) {
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: 276px;
        }
    }
    &__avatar {
        & > img {
            max-width: 168px;
            max-height: 168px;
            border-radius: 50%;
            @media (max-width: 425px) {
                max-width: 65px;
                max-height: 65px;
            }
        }
        margin-right: 70px;
        @media(max-width:425px) {
            margin-right: 30px;
        }
    }
    &__name {
        position: relative;
        font-weight: 600;
        font-size: 27px;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: -9px;
            width: 5px;
            height: 25px;
            background: $yellow_;
            @media(max-width:425px) {
                top: 1px;
                left: -4px;
                width: 1px;
                height: 10px;
            }
        }
        @media(max-width:425px) {
            font-size: 11px;
            line-height: 13px;
        }
    }
    &__review-text {
        margin-top: 23px;
        font-size: 24px;
        line-height: 29px;
        @media(max-width:425px) {
            margin-top: 5px;
            font-weight: 300;
            font-size: 9px;
            line-height: 11px;
        }
    }
}
