// Colors
$darkblue_: #070735;
$white_: #ffffff;

// Fonts
@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

// Font variables

$main-font: "SF-Pro-Display";
$header-font: "Montserrat";

h1 {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: $darkblue_;
    white-space: nowrap;
    @media (max-width: 1600px) {
        font-size: 60px;
    }
    @media (max-width: 1440px) {
        font-size: 48px;
    }
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 40px;
    }
}

h2 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    white-space: nowrap;
    @media (max-width: 1600px) {
        font-size: 48px;
    }
    @media (max-width: 1440px) {
        font-size: 36px;
    }
}

p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    @media(max-width: 1600px) {
        font-size: 24px;
    }
    @media (max-width: 1440px) {
        font-size: 18px;
    }
}

.mobile-toggle {
    display: none !important;
}

.container {
    padding: 0 150px;
    @media(max-width:768px) {
        padding: 0 40px;
    }
}

body {
    background-color: $white_;
}

main {
    font-family: $main-font;
}

header {
    width: 100%;
}

.header-wrapper {
    height: 113px;
    padding: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: $header-font;
    font-weight: 600;
    font-size: 22px;
    color: $white_;
    background-color: $darkblue_;
    @media (max-width: 1440px) {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 0 15px;
    }
}

.logotype {
    & > img {
        @media (max-width: 420px) {
            width: 128px;
            height: 56px;
        }
    }
}

.header-dropdown {
    display: block;
    position: absolute;
    top: 112px;
    right: 0;
    width: 185px;
    height: 214px;
    font-size: 12px;
    font-family: $header-font;
    font-weight: 600;
    color: $white_;
}

.nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.nav-wrapper-mobile {
    display: none;
    background-color: $darkblue_;
    height: 100%;
    border-radius: 0 0 20px 20px;
    .header-nav {
        height: 90%;
        padding: 10px 0;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        &__link {
            margin-left: 0;
        }
    }
    @media (max-width: 768px) {
        display: block;
    }
}

.header-nav {
    &__link {
        margin-left: 20px;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.account-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__button {
        position: relative;
        margin-left: 80px;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -17px;
            top: -2px;
            width: 4px;
            height: 34px;
            background: #ffee00;
            @media (max-width: 1440px) {
                top: -8px;
            }
        }
        &:hover {
            color: #ffee00;
        }
        @media (max-width: 420px) {
            margin-left: 50px;
        }
    }
    &__menu {
        margin-left: 20px;
        cursor: pointer;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            display: flex;
        }
    }
    &__dropdown-text {
        user-select: none;
        display: none;
        margin-top: 5px;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.proposition-section {
    &-position {
        margin-top: 135px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__img {
        margin-right: 30px;
        @media (max-width: 1600px) {
            & > img {
                max-width: 90%;
            }
        }
        @media (max-width: 768px) {
            & > img {
                max-width: unset;
                width: 110px;
                height: 105px;
            }
        }
    }
    &__text {
        line-height: 84px;
        text-align: right;
    }
    &__button {
        margin-top: 72px;
        width: 475px;
        height: 96;
        background: #ffee00;
        border-radius: 30px;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
    }
}

.concept-description {
    &-position {
        margin-top: 412px;
    }
    &__inner {
        height: 860px;
        background: $darkblue_;
        border-radius: 96px;
        padding: 200px 160px 120px 160px;
        display: flex;
        flex: 75% 25%;
        justify-content: space-between;
        color: $white_;
        @media(max-width: 1440px) {
            padding: 200px 80px 120px 80px;
        }
        @media(max-width: 768px) {
            padding: 50px;
        }
    }
    &__text {
        position: relative;
        & > h2:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -22px;
            top: 14px;
            width: 9px;
            height: 125px;
            background: #ffee00;
            @media (max-width: 1440px) {
            }
        }
        & > h2 {
            margin-bottom: 50px;
        }
    }
    &__img {
        margin-left: 150px;
        margin-top: 180px;
        min-width: 35%;
        @media(max-width:1600px) {
            margin-left: 100px;
        }
        @media(max-width:1440px) {
            min-width: 43%;
        }
    }
}
