@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: #070735;
  white-space: nowrap;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 18px;
    line-height: 22px;
  }
}

h2 {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  white-space: nowrap;
}

@media (max-width: 1600px) {
  h2 {
    font-size: 48px;
  }
}

@media (max-width: 1440px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

p {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}

@media (max-width: 1600px) {
  p {
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  p {
    line-height: 26px;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 380px) {
  p {
    font-size: 8px;
    line-height: 12px;
  }
}

@media (max-width: 340px) {
  p {
    font-size: 8px;
    line-height: 10px;
  }
}

.mobile-toggle {
  display: none !important;
}

.message-toggle {
  display: none !important;
}

.accordion-toggle {
  display: none !important;
}

section {
  position: relative;
}

.anchor {
  position: absolute;
  width: 1px;
  height: 1px;
}

.anchor__concept {
  top: 100px;
}

@media (max-width: 1600px) {
  .anchor__concept {
    top: 180px;
  }
}

.anchor__work-process {
  top: -150px;
}

@media (max-width: 1600px) {
  .anchor__work-process {
    top: -60px;
  }
}

.anchor__rate-slider {
  top: -50px;
}

@media (max-width: 1600px) {
  .anchor__rate-slider {
    top: 10px;
  }
}

.anchor__review-section {
  top: 50px;
}

@media (max-width: 1600px) {
  .anchor__review-section {
    top: 150px;
  }
}

.anchor__q-a-section {
  top: -50px;
}

@media (max-width: 1600px) {
  .anchor__q-a-section {
    top: -20px;
  }
}

.container {
  padding: 0 150px;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 100px;
  }
}

@media (max-width: 1366px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0 20px;
  }
}

body {
  background-color: #ffffff;
}

main {
  font-family: "SF-Pro-Display";
}

header {
  width: 100%;
}

.header-wrapper {
  height: 113px;
  padding: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
  background-color: #070735;
}

@media (max-width: 1440px) {
  .header-wrapper {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    font-size: 12px;
    padding: 0 15px;
  }
}

@media (max-width: 420px) {
  .logotype > img {
    width: 128px;
    height: 56px;
  }
}

.header-dropdown {
  z-index: 3;
  display: block;
  position: absolute;
  top: 112px;
  right: 0;
  width: 185px;
  height: 214px;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
}

.ask-question-section {
  font-family: "SF-Pro-Display";
  display: block;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 7, 53, 0.55);
}

.ask-question-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.ask-question-section__block {
  position: relative;
  background-color: #ffffff;
  z-index: 3;
  width: 50%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 96px;
  padding: 5% 4%;
}

@media (max-width: 1920px) {
  .ask-question-section__block {
    width: 60%;
    height: 40%;
  }
}

@media (max-width: 1600px) {
  .ask-question-section__block {
    height: 45%;
  }
}

@media (max-width: 1024px) {
  .ask-question-section__block {
    border-radius: 64px;
    width: 80%;
    height: 35%;
  }
}

@media (max-width: 425px) {
  .ask-question-section__block {
    border-radius: 48px;
    width: 80%;
    height: 250px;
    padding: 7% 7%;
  }
}

@media (max-width: 340px) {
  .ask-question-section__block {
    border-radius: 42px;
    height: 30%;
  }
}

.ask-question-section__title {
  width: 100%;
  text-align: center;
}

.ask-question-section__textarea {
  margin-top: 4%;
  width: 100%;
  height: 55%;
  padding: 31px 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  resize: none;
  font-family: "SF-Pro-Display";
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.ask-question-section__textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.ask-question-section__textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.ask-question-section__textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.ask-question-section__textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.ask-question-section__textarea::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 1600px) {
  .ask-question-section__textarea {
    height: 70%;
  }
}

@media (max-width: 1366px) {
  .ask-question-section__textarea {
    padding: 20px 30px;
    font-size: 24px;
    height: 80%;
  }
}

@media (max-width: 425px) {
  .ask-question-section__textarea {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.ask-question-section__submit {
  width: 25%;
  height: 22%;
  margin-top: 5%;
  background: #ffee00;
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

@media (max-width: 1600px) {
  .ask-question-section__submit {
    height: 25%;
  }
}

@media (max-width: 1366px) {
  .ask-question-section__submit {
    font-size: 24px;
    height: 40%;
  }
}

@media (max-width: 1024px) {
  .ask-question-section__submit {
    width: 30%;
    height: 30%;
  }
}

@media (max-width: 425px) {
  .ask-question-section__submit {
    border-radius: 16px;
    font-size: 14px;
    width: 120px;
    height: 50px;
  }
}

.ask-question-section__close {
  position: absolute;
  top: 12%;
  right: 7%;
}

@media (max-width: 425px) {
  .ask-question-section__close {
    top: 12%;
    right: 10%;
  }
}

@media (max-width: 425px) {
  .ask-question-section__close > img {
    width: 12px;
    height: 11px;
  }
}

.ask-question-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.authorization-showup {
  font-family: "SF-Pro-Display";
  display: block;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 7, 53, 0.55);
}

.authorization-showup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.authorization-showup__block {
  position: relative;
  background-color: #ffffff;
  z-index: 3;
  width: 25%;
  height: 70%;
  border-radius: 96px;
}

@media (max-width: 1920px) {
  .authorization-showup__block {
    width: 40%;
    height: 90%;
  }
}

@media (max-width: 1366px) {
  .authorization-showup__block {
    height: 95%;
  }
}

@media (max-width: 1024px) {
  .authorization-showup__block {
    border-radius: 64px;
    width: 70%;
    height: 85%;
  }
}

@media (max-width: 425px) {
  .authorization-showup__block {
    border-radius: 48px;
    width: 80%;
    height: 55%;
  }
}

@media (max-width: 340px) {
  .authorization-showup__block {
    border-radius: 42px;
    width: 90%;
    height: 53%;
  }
}

.authorization-showup__close {
  position: absolute;
  top: 10%;
  right: 10%;
}

@media (max-width: 425px) {
  .authorization-showup__close {
    top: 7%;
    right: 9%;
  }
}

@media (max-width: 425px) {
  .authorization-showup__close > img {
    width: 12px;
    height: 11px;
  }
}

.input-field-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-field-wrapper-position {
  margin-top: 20px;
}

@media (max-width: 425px) {
  .input-field-wrapper-position {
    margin-top: 0;
  }
}

.input-field {
  position: relative;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 425px) {
  .input-field {
    margin-top: 15px;
  }
}

.input-field__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}

@media (max-width: 425px) {
  .input-field__title {
    font-size: 16px;
  }
}

.input-field > input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .input-field > input {
    font-size: 10px;
    height: 20px;
    padding: 13px;
  }
}

.input-field > input:focus {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.input-field__forgot-password {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 425px) {
  .input-field__forgot-password {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    top: 131%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 1600px) {
  .input-field-registration {
    margin-top: 10px;
  }
}

@media (max-width: 1600px) {
  .input-field-registration > input {
    height: 25px;
  }
}

@media (max-width: 1600px) {
  .input-field-registration > span {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .input-field-registration > span {
    line-height: 14px;
    font-size: 12px;
    margin-bottom: 2px;
  }
}

.authorization-error-message {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff0000;
  text-align: center;
}

@media (max-width: 425px) {
  .authorization-error-message {
    font-size: 14px;
    margin-top: 35px;
  }
}

.remember-checkbox-custom {
  cursor: pointer;
}

.remember-checkbox-wrapper {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.remember-checkbox-wrapper-registration {
  margin-top: 20px;
}

@media (max-width: 425px) {
  .remember-checkbox-wrapper-registration {
    display: none;
  }
}

.remember-checkbox {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.remember-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.remember-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

@media (max-width: 425px) {
  .remember-checkbox + label::before {
    width: 12px;
    height: 12px;
    border-width: 2px;
    background-size: contain;
  }
}

.remember-checkbox:checked + label::before {
  border-color: #ffee00;
  background-color: #ffee00;
  background-image: url("/img/checked.png");
}

.remember-checkbox-label {
  margin-left: 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 425px) {
  .remember-checkbox-label {
    font-size: 12px;
    margin-left: 5px;
  }
}

.license-agreement {
  display: none;
}

@media (max-width: 425px) {
  .license-agreement {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
  }
}

.authorization-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .authorization-section {
    padding: 5% 7%;
  }
}

.authorization-section__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

@media (max-width: 425px) {
  .authorization-section__title {
    line-height: 36px;
    font-size: 24px;
  }
}

@media (max-width: 380px) {
  .authorization-section__title {
    line-height: 16px;
    font-size: 16px;
  }
}

.authorization-section__registration-message {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 425px) {
  .authorization-section__registration-message {
    margin-top: unset;
    font-size: 12px;
  }
}

.authorization-section__registration-link {
  cursor: pointer;
  color: #00c2ff !important;
  border-bottom: 1px solid #00c2ff;
}

.authorization-section__login {
  margin-top: 30px;
  display: block;
  padding: 15px 90px;
  border-radius: 30px;
  background-color: #ffee00;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

@media (max-width: 425px) {
  .authorization-section__login {
    margin-top: 5px;
    font-size: 12px;
    padding: 5px 60px;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-wrapper-mobile {
  display: none;
  background-color: #070735;
  height: 100%;
  border-radius: 0 0 20px 20px;
}

.nav-wrapper-mobile .header-nav {
  height: 90%;
  padding: 10px 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-wrapper-mobile .header-nav__link {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .nav-wrapper-mobile {
    display: block;
  }
}

.header-nav__link {
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

.account-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-section__button {
  position: relative;
  margin-left: 80px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 425px) {
  .account-section__button {
    margin-left: 10px;
  }
}

@media (max-width: 335px) {
  .account-section__button {
    margin-left: 40px;
  }
}

.account-section__button:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -17px;
  top: -2px;
  width: 4px;
  height: 34px;
  background: #ffee00;
}

@media (max-width: 1440px) {
  .account-section__button:before {
    top: -8px;
  }
}

@media (max-width: 425px) {
  .account-section__button:before {
    top: -5px;
    left: -10px;
    width: 3px;
    height: 20px;
  }
}

@media (max-width: 335px) {
  .account-section__button:before {
    top: -5px;
    height: 33px;
  }
}

.account-section__button:hover {
  color: #ffee00;
}

.account-section__menu {
  margin-left: 20px;
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .account-section__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.account-section__dropdown-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  margin-top: 5px;
}

@media (max-width: 1024px) {
  .account-section__dropdown-text {
    display: block;
  }
}

.proposition-section-position {
  margin-top: 135px;
}

@media (max-width: 1600px) {
  .proposition-section-position {
    margin-top: 50px;
  }
}

@media (max-width: 1024px) {
  .proposition-section-position {
    margin-top: 150px;
  }
}

@media (max-width: 425px) {
  .proposition-section-position {
    margin-top: 80px;
  }
}

.proposition-section__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1024px) {
  .proposition-section__inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.proposition-section__img {
  margin-right: 30px;
}

.proposition-section__img > img {
  height: auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .proposition-section__img {
    position: absolute;
    margin-right: 370px;
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .proposition-section__img {
    margin-right: 340px;
  }
}

@media (max-width: 425px) {
  .proposition-section__img {
    margin-right: 55%;
  }
}

@media (max-width: 340px) {
  .proposition-section__img {
    margin-right: 60%;
  }
}

.proposition-section__text {
  line-height: 84px;
  text-align: right;
  width: 50%;
}

.proposition-section__text > h1 {
  text-align: right;
}

@media (max-width: 1024px) {
  .proposition-section__text {
    width: 100%;
  }
}

.proposition-section__button {
  margin-top: 72px;
  width: 475px;
  height: 96;
  background: #ffee00;
  border-radius: 30px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

@media (max-width: 1024px) {
  .proposition-section__button {
    width: 300px;
    height: 70px;
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .proposition-section__button {
    margin-top: 24px;
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}

.concept-description-position {
  margin-top: 412px;
}

@media (max-width: 1024px) {
  .concept-description-position {
    margin-top: 150px;
  }
}

@media (max-width: 425px) {
  .concept-description-position {
    margin-top: 90px;
  }
}

.concept-description__inner {
  height: 860px;
  background: #070735;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 96px;
  padding: 200px 160px 120px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 75%;
      -ms-flex: 75% 25%;
          flex: 75% 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

@media (max-width: 1440px) {
  .concept-description__inner {
    padding: 200px 80px 120px 80px;
  }
}

@media (max-width: 1024px) {
  .concept-description__inner {
    padding: 80px 21px 50px 100px;
    height: 570px;
  }
}

@media (max-width: 425px) {
  .concept-description__inner {
    padding: 40px 30px 0 35px;
    border-radius: 40px;
    height: 340px;
  }
}

@media (max-width: 380px) {
  .concept-description__inner {
    height: 280px;
  }
}

.concept-description__text {
  position: relative;
  max-width: 760px;
}

@media (max-width: 1024px) {
  .concept-description__text {
    max-width: 70%;
  }
}

.concept-description__text > h2:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -35px;
  top: 12px;
  width: 9px;
  height: 125px;
  background: #ffee00;
}

@media (max-width: 1440px) {
  .concept-description__text > h2:before {
    top: 8px;
    height: 80px;
  }
}

@media (max-width: 1024px) {
  .concept-description__text > h2:before {
    top: 5px;
    height: 62px;
    width: 5px;
    left: -15px;
  }
}

@media (max-width: 425px) {
  .concept-description__text > h2:before {
    top: 2px;
    height: 37px;
    width: 3px;
    left: 0;
  }
}

.concept-description__text > h2 {
  line-height: 72px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .concept-description__text > h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 26px;
  }
}

@media (max-width: 425px) {
  .concept-description__text > h2 {
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
  }
}

.concept-description__img {
  margin-left: 150px;
  margin-top: 180px;
}

@media (max-width: 1600px) {
  .concept-description__img {
    margin-left: 100px;
  }
}

@media (max-width: 1440px) {
  .concept-description__img > img {
    min-width: 43%;
  }
}

@media (max-width: 1024px) {
  .concept-description__img {
    margin-top: 180px;
    margin-left: 20px;
  }
  .concept-description__img > img {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .concept-description__img {
    margin-top: 100px;
  }
}

.work-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-process-position {
  margin-top: 320px;
  padding: 0 80px;
}

@media (max-width: 1024px) {
  .work-process-position {
    margin-top: 120px;
    padding: 0 10%;
  }
}

@media (max-width: 425px) {
  .work-process-position {
    margin-top: 40px;
    padding: 0 7%;
  }
}

.process-sequence {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 2200px) {
  .process-sequence {
    width: 80%;
  }
}

.process-sequence > div:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process-sequence > div:nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.process-sequence > div:nth-child(4) {
  margin-left: 100px;
}

.process-sequence > div:nth-child(5) {
  margin-right: 100px;
}

.process-sequence > div:nth-child(1n + 4) {
  max-width: 45%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process-sequence > div:nth-child(1n + 4) > .process-sequence__text {
  margin-top: 10px;
}

@media (max-width: 1366px) {
  .process-sequence > div:nth-child(1n + 4) > .process-sequence__text {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .process-sequence > div {
    width: 100% !important;
    max-width: 100% !important;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    margin-left: unset !important;
    margin-right: unset !important;
  }
}

.process-sequence__element {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .process-sequence__element {
    margin-top: 12px;
  }
}

.process-sequence__number {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
}

.process-sequence__number:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  margin-left: 9px;
  width: 6px;
  height: 41px;
  background: #ffee00;
}

@media (max-width: 1024px) {
  .process-sequence__number:after {
    top: 15px;
    margin-left: 9px;
    width: 4px;
    height: 26px;
  }
}

@media (max-width: 425px) {
  .process-sequence__number:after {
    top: 17px;
    margin-left: 4px;
    width: 3px;
    height: 18px;
  }
}

@media (max-width: 1024px) {
  .process-sequence__number {
    left: 5%;
    margin-left: unset;
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .process-sequence__number {
    line-height: 52px;
  }
}

.process-sequence__text {
  margin-left: 37px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 1366px) {
  .process-sequence__text {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 1024px) {
  .process-sequence__text {
    margin-left: 10%;
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 425px) {
  .process-sequence__text {
    line-height: 18px;
    font-size: 14px;
    margin-left: 9%;
  }
}

.invest-button {
  display: block;
  margin-top: 100px;
  padding: 30px 90px;
  border-radius: 25px;
  background-color: #ffee00;
  font-weight: 500;
  font-size: 36px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1024px) {
  .invest-button {
    margin-top: 50px;
    padding: 20px 50px;
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .invest-button {
    margin-top: 30px;
    font-size: 12px;
    padding: 5px 30px;
  }
}

.invest-button:hover {
  -webkit-box-shadow: 0 0 10px #ffee00;
          box-shadow: 0 0 10px #ffee00;
}

.rate-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate-slider-position {
  padding: 0 9%;
  margin-top: 300px;
}

@media (max-width: 1600px) {
  .rate-slider-position {
    margin-top: 150px;
  }
}

@media (max-width: 1024px) {
  .rate-slider-position {
    margin-top: 80px;
  }
}

@media (max-width: 425px) {
  .rate-slider-position {
    margin-top: 40px;
  }
}

.rate-slider__inner {
  max-width: 100%;
  margin-top: 70px;
}

@media (max-width: 1600px) {
  .rate-slider__inner {
    margin-top: 20px;
  }
}

.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .splide__arrow {
    display: none;
  }
}

.splide__arrow--prev {
  left: -5%;
}

.splide__arrow--next {
  right: -5%;
}

.rate-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate-element__info {
  width: 412px;
  height: 618px;
  padding: 70px 50px 100px 50px;
  border: 2px solid #ffee00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 96px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.34%, transparent), color-stop(44.66%, #ffee00));
  background: linear-gradient(to bottom, transparent 55.34%, #ffee00 44.66%);
}

@media (max-width: 1600px) {
  .rate-element__info {
    width: 390px;
    height: 550px;
  }
}

@media (max-width: 1366px) {
  .rate-element__info {
    width: 335px;
  }
}

@media (max-width: 1024px) {
  .rate-element__info {
    width: 234px;
    height: 350px;
    padding: 20px 30px 30px 30px;
    border-radius: 64px;
  }
}

@media (max-width: 425px) {
  .rate-element__info {
    padding: 20px 15px 40px 15px;
    width: 117px;
    height: 175px;
    border-radius: 30px;
  }
}

.rate-element__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 1600px) {
  .rate-element__title {
    font-size: 40px;
  }
}

@media (max-width: 1366px) {
  .rate-element__title {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .rate-element__title {
    font-size: 18px;
    line-height: 12px;
  }
}

@media (max-width: 425px) {
  .rate-element__title {
    font-size: 9px;
  }
}

.rate-element__income-title {
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 1366px) {
  .rate-element__income-title {
    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .rate-element__income-title {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .rate-element__income-title {
    margin-top: 15px;
    font-size: 7px;
    line-height: 12px;
  }
}

.rate-element__income-value {
  margin-top: 20px;
  height: 55px;
  width: 160px;
  background-color: #ffee00;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

@media (max-width: 1366px) {
  .rate-element__income-value {
    font-size: 24px;
    width: 130px;
  }
}

@media (max-width: 1024px) {
  .rate-element__income-value {
    font-size: 18px;
    margin-top: 5px;
    height: 35px;
    width: 90px;
  }
}

@media (max-width: 425px) {
  .rate-element__income-value {
    font-size: 9px;
    height: 16px;
    width: 46px;
  }
}

.rate-element__detailed-info {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
}

@media (max-width: 1366px) {
  .rate-element__detailed-info {
    margin-top: 70px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .rate-element__detailed-info {
    font-size: 14px;
    margin-top: 50px;
    line-height: 28px;
  }
}

@media (max-width: 425px) {
  .rate-element__detailed-info {
    font-size: 7px;
    margin-top: 25px;
    line-height: 14px;
  }
}

.rate-element__button {
  margin-top: 52px;
  width: 225px;
  height: 94px;
  border: 2px solid #ffee00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  color: #070735;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1366px) {
  .rate-element__button {
    font-size: 30px;
    width: 200px;
    height: 75px;
  }
}

@media (max-width: 1024px) {
  .rate-element__button {
    margin-top: 25px;
    font-size: 18px;
    width: 120px;
    height: 50px;
  }
}

@media (max-width: 425px) {
  .rate-element__button {
    font-size: 9px;
    line-height: 11px;
    width: 64px;
    height: 27px;
  }
}

.review-section {
  margin-top: 300px;
  background-color: #070735;
  height: 1128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .review-section {
    margin-top: 100px;
    height: 500px;
  }
}

.review-title {
  text-align: center;
  color: #ffffff;
}

.review-slider-wrapper {
  max-width: 100%;
  margin-top: 80px;
}

@media (max-width: 1366px) {
  .review-slider-wrapper {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .review-slider-wrapper {
    margin-top: 20px;
  }
}

.review-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 69.5%;
}

@media (max-width: 1024px) {
  .review-element {
    min-width: 90%;
  }
}

.review-element__avatar {
  margin-right: 75px;
}

@media (max-width: 1024px) {
  .review-element__avatar {
    margin-right: 30px;
  }
}

@media (max-width: 1024px) {
  .review-element__avatar > img {
    max-width: 128px;
  }
}

@media (max-width: 425px) {
  .review-element__avatar > img {
    max-width: 100px;
  }
}

.review-element__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-element__name {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #ffee00;
}

@media (max-width: 1366px) {
  .review-element__name {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .review-element__name {
    font-size: 18px;
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  .review-element__name {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
  }
}

.review-element__text {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

@media (max-width: 1366px) {
  .review-element__text {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .review-element__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 425px) {
  .review-element__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
}

.review-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-selection__button {
  width: 27.16%;
  height: 85px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffee00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffee00 !important;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.review-selection__button-picked {
  background: #ffee00;
  color: #000000 !important;
}

@media (max-width: 1600px) {
  .review-selection__button {
    font-size: 24px;
  }
}

@media (max-width: 1366px) {
  .review-selection__button {
    height: 65px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 1024px) {
  .review-selection__button {
    margin-top: 50px;
    width: 35%;
    line-height: 26px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .review-selection__button {
    height: 40px;
    width: 50%;
    font-size: 12px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 40px;
  }
}

@media (max-width: 340px) {
  .review-selection__button {
    width: 60%;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 11px;
  }
}

.splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splide__pagination__page {
  margin: 0 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffee00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 425px) {
  .splide__pagination__page {
    margin-right: 4px;
    margin-left: 4px;
    height: 10px;
    width: 10px;
  }
}

.splide__pagination {
  width: 100% !important;
  margin-top: 30px !important;
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
}

.splide__pagination > li > .is-active {
  background-color: #ffee00;
}

.q-a-section {
  margin: 300px 50px 0 50px;
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .q-a-section {
    min-height: 700px;
    margin: 100px 30px 0 30px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .q-a-section {
    min-height: 300px;
    margin: 50px 5px 0 5px;
  }
}

@media (min-width: 2000px) {
  .q-a-section {
    padding: 20%;
  }
}

.accordion-wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .accordion-wrapper {
    margin-top: 0;
  }
}

.accordition-item {
  position: relative;
  width: 1163px;
  margin-top: 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 40px 20px 80px;
  border: 2px solid #ffee00;
  border-radius: 30px;
}

.accordition-item:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1600px) {
  .accordition-item {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .accordition-item {
    margin-top: 15px;
    border: 1px solid #ffee00;
    padding: 5px 10px 5px 40px;
  }
}

@media (max-width: 425px) {
  .accordition-item {
    margin-top: 10px;
    padding: 0 20px 0 30px;
  }
}

.accordition-item__arrow {
  content: url("../img/accordion-arrow.png");
  position: absolute;
  top: 50px;
  right: 40px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (max-width: 1024px) {
  .accordition-item__arrow {
    top: 30px;
  }
}

@media (max-width: 425px) {
  .accordition-item__arrow {
    top: 16px;
    width: 15px;
    right: 20px;
  }
}

.accordition-item .transform-arrow {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordition-item__heading {
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 36px;
  text-align: left;
}

.accordition-item__heading:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -12px;
  top: 17px;
  width: 4px;
  height: 40px;
  background: #ffee00;
}

@media (max-width: 1024px) {
  .accordition-item__heading:before {
    left: -12px;
    top: 21px;
    width: 4px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .accordition-item__heading:before {
    left: -8px;
    top: 11px;
    width: 2px;
    height: 15px;
  }
}

@media (max-width: 1366px) {
  .accordition-item__heading {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  .accordition-item__heading {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .accordition-item__heading {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .accordition-item__heading {
    font-size: 8px;
  }
}

.close .accordition-item__content {
  height: 0px;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.open .accordition-item__content {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.open .accordition-item__content > span {
  color: #00c2ff;
}

@media (max-width: 1366px) {
  .open .accordition-item__content {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .open .accordition-item__content {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .open .accordition-item__content {
    font-size: 8px;
    line-height: 10px;
  }
}

.ask-question-button {
  margin-top: 100px;
  margin-bottom: 100px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 416px;
  height: 85px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #070735;
  border-radius: 30px;
  color: #ffffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.ask-question-button:hover {
  color: #ffffff !important;
}

@media (max-width: 425px) {
  .ask-question-button {
    margin-top: 30px;
    width: 160px;
    height: 30px;
    font-size: 14px;
    line-height: 12px;
  }
}

@media (max-width: 375px) {
  .ask-question-button {
    font-size: 12px;
  }
}

.link-mapframe {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

.mapframe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .mapframe-wrapper {
    height: 100%;
  }
}

.mapframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  height: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .map {
    height: 300px;
  }
}

.map__contacts {
  position: absolute;
  color: #ffffff;
  width: 598px;
  height: 484px;
  padding: 120px 100px 100px 128px;
  margin-right: 91px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #070735;
  border-radius: 96px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1366px) {
  .map__contacts {
    width: 500px;
    height: 440px;
    padding: 80px 30px 80px 80px;
  }
}

@media (max-width: 1024px) {
  .map__contacts {
    width: 310px;
    height: 280px;
    padding: 80px 30px 80px 50px;
    border-radius: 60px;
    margin-right: 40px;
  }
}

@media (max-width: 425px) {
  .map__contacts {
    width: 133px;
    height: 116px;
    padding: 25px;
    border-radius: 30px;
    margin-right: 30px;
  }
}

.map__contacts > h2 {
  position: relative;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 50px;
  margin-left: 12px;
}

@media (max-width: 1024px) {
  .map__contacts > h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-left: 6px;
  }
}

@media (max-width: 425px) {
  .map__contacts > h2 {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 10px;
    margin-left: 6px;
  }
}

.map__contacts > h2:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -12px;
  top: 10px;
  width: 6px;
  height: 34px;
  background: #ffee00;
}

@media (max-width: 1024px) {
  .map__contacts > h2:before {
    left: -12px;
    top: 0;
    width: 5px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .map__contacts > h2:before {
    left: -5px;
    top: 1px;
    width: 1px;
    height: 11px;
  }
}

.map__contacts > span {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 1024px) {
  .map__contacts > span {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .map__contacts > span {
    font-size: 6px;
    line-height: 7px;
    margin-bottom: 8px;
  }
}

footer {
  position: relative;
  height: 449px;
  background-color: #070735;
}

@media (max-width: 425px) {
  footer {
    height: 250px;
  }
}

.link-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.link-list-wrapper > .link-list:first-child {
  margin-right: auto;
}

@media (max-width: 1024px) {
  .link-list-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 6% 0 6%;
  }
}

@media (max-width: 425px) {
  .link-list-wrapper {
    padding: 10px 2% 0 2%;
  }
}

.link-list {
  margin-top: 84px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  list-style: none;
  margin-right: 50px;
  -webkit-padding-start: unset;
          padding-inline-start: unset;
}

@media (max-width: 1366px) {
  .link-list {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .link-list {
    margin-top: 22px;
    width: 40%;
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .link-list {
    width: 40%;
    font-size: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 367px) {
  .link-list {
    font-size: 8px;
  }
}

.link-list__element {
  margin-bottom: 10px;
}

@media (max-width: 425px) {
  .link-list__element {
    margin-bottom: 0;
  }
}

.link-list__element:first-child {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #ffee00;
  margin-bottom: 33px;
}

@media (max-width: 1366px) {
  .link-list__element:first-child {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .link-list__element:first-child {
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .link-list__element:first-child {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 18px;
  }
}

@media (max-width: 367px) {
  .link-list__element:first-child {
    font-size: 12px;
    line-height: 14px;
  }
}

.social {
  position: absolute;
  bottom: 130px;
  left: 150px;
  margin-top: 40px;
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .social > a > img {
    width: 50px;
  }
}

@media (max-width: 425px) {
  .social > a > img {
    width: 30px;
  }
}

@media (max-width: 367px) {
  .social > a > img {
    width: 25px;
  }
}

@media (max-width: 1600px) {
  .social {
    left: 100px;
  }
}

@media (max-width: 1366px) {
  .social {
    left: 60px;
    max-width: 250px;
  }
}

@media (max-width: 1024px) {
  .social {
    max-width: 200px;
    left: 10%;
    bottom: 100px;
  }
}

@media (max-width: 425px) {
  .social {
    max-width: 120px;
    left: 6%;
    bottom: 45px;
  }
}

@media (max-width: 367px) {
  .social {
    max-width: 100px;
    left: 7%;
    bottom: 55px;
  }
}
/*# sourceMappingURL=style.css.map */